p.titlekerjasamaSDGs{
    text-align: justify;
    color:white;
    font-family: 'Hey Comic';
}

p.sdgs{
    text-align: justify;
    color:rgb(255, 236, 236);
    font-family: 'Hey Comic';
}

p.sbil{
    text-align: justify;
    color:rgb(249, 157, 157);
    font-family: 'Hey Comic';
}

p.smul{
    text-align: justify;
    color:white;
    font-family: 'Hey Comic';
}

p.sreg{
    text-align: justify;
    color:rgb(249, 157, 157);
    font-family: 'Hey Comic';
}

p.sint{
    text-align: justify;
    color:white;
    font-family: 'Hey Comic';
}